@font-face{
  font-family: 'sweet';
  src: url('fonte/sweet\ purple.otf') format('opentype'),
  url('fonte/sweet\ purple.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  background-color: rgb(144, 224, 243);
  position: relative;
  height: 100vh;
  min-height: 100%;
}
html {
  min-height: 100%;
}
.all {
  min-height: 100%;
  position: relative;
  width: 800px;
}

/* menu */
.conteúdo {
  justify-content: space-between;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(142, 140, 192);
}

.conteúdo img {
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.conteúdo nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: 95px;
  margin-right: auto; 
}
.conteúdo nav a {
  padding: 20px;
  text-decoration: none;
  color: #f0f2f5;
  font-family: 'sweet';
  font-size: 35px;
}



.redes {
  align-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px;
}
.conteúdo div a {
  text-decoration: none;
  color: #f0f2f5;
  padding: 20px;
}

.conteúdo nav a:hover{
  background-color: rgb(110, 108, 165);
  padding: 29px 20px;
}
.redes i {
  color: #f0f2f5;
}

.redes a:hover{
  
  background-color: rgb(110, 108, 165);
  padding: 36px 20px;
}

.logo:hover{
  
  background-color: rgb(110, 108, 165);
  padding: 0px 0px;
  cursor: pointer;

}
.center {
  background-color: rgb(248, 199, 204);
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: -50px; */
}
.sho{
  margin-right: 35px;
  color: rgb(88,44,77);
}
.sho:hover{
  cursor: pointer;
  color:#ffffff;
}

#divBusca {
  background-color: #ffffff;
  border: solid 1px;
  border-color: rgb(142, 140, 192);
  border-radius: 10px;
  
  margin-left: 412px;
  margin-right: auto; 
  width: 600px;
  /* width: ; */
  /* margin-left: 120px;
  margin-bottom: 50px; */
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: normal;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 560px;
}
#btnBusca {
  color: rgb(142, 140, 192);
  margin-top: 4px;
  margin-right: 4px;
}


/* banner */


.content{
  width: 1049px;
  height: 272px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* .content{
   height: 342px;
   width: 1337x;
   border-radius: 20px;
   overflow: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */


.navigation{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 20px;
  margin: 0 auto;
  top: -35px;
  display: flex;
  justify-content: space-between;
}

 .bar{
  width: 70px;
  height: 17px;
  border: 2px solid #d84c72;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover{
  background-color: #d84c72;
}


.slides input{
  display: none;
}

.slides{
  display: flex;
  width: 300%;
  height: 100%;
}

.slide{
  width:33.33%;
  transition: .6s;
}
.slide img{
  height: 100%;
  width: 100%;
}

#slide1:checked ~ .s1{
  margin-left:0;
}

#slide2:checked ~ .s1{
  margin-left: -33.33%;
}

#slide3:checked ~ .s1{
  margin-left: -66.66%;
} 

/* slide img{
  width: 100%;
  height: 100%;
} */



/* banner
.banner {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 1049px;
} */




 /* produtos */
.fds {
  background-color: #ffffff;
  padding-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  width: 1048.89;
}
/* main{
  background-color: #ffffffc2;
} */
#container {
  max-width: 1024px;
  margin: 0 auto;
}
/* 
.header {
  background: #d4e4ef;
  text-align: center;
  padding-top: 1rem;
} */

.main{
  display: flex;
  justify-content: space-between;
}

.header{
  background-color: #d84c72;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  text-align: center;
  width: 960px;
  border-radius: 10px;
}
.filter{

  background-color: #d84c72;
  color: white;
  width: 22px;
  height: 22px;
  padding:3px;
  border-radius: 100%;
  margin-right: 22px;
  margin-left: 10px;
}
.filter:hover{
  cursor: pointer;
  color: rgb(88, 44, 77);
}
.produto {
  margin-bottom: 20px;
  cursor: pointer;
}

.produto img {
  width: 210px;
  height: 250px;
  border-radius: 10px;
}
.produto p {
  background-color: #d84c72;
  color: whitesmoke;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 10px;
}
.produto s {
  color: red;
}

.produto img:hover {
  transform: scale(1.1);
}

.produto p:hover {
  transform: rotate(-2deg);
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* botão subir */
.botao {
  color: rgb(88, 44, 77);
  height: 70px;
  width: 70px;
  display: inline-block;
}
.button2 {
  align-items: flex-end;
  justify-content: end;
  margin-top: -120px;
  padding: 20px 20px;
}

/* footer */

footer {
  position: absolute;
  background-color: rgb(142, 140, 192);
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 100%;
}

.info {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Gmail {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.Gmail a {
  text-decoration: none;
  color: black;
}

.Gmail a:hover {
  color: blue;
  transition: 0.4s;
}
.icon-whatsapp {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.icon-whatsapp a {
  text-decoration: none;
  color: black;
}
.icon-whatsapp a:hover {
  color: blue;
  transition: 0.4s;
}
.adress {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.adress a {
  text-decoration: none;
  color: black;
}

.adress a:hover {
  color: blue;
  transition: 0.4s;
}

/* popup */

#popupbackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  align-items: center;
  display: none;
  justify-content: center;
}

#popup {
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  background-color: #624f72;
}

#popup form {
  display: flex;
  align-items: initial;
  flex-direction: column;
}

#popup form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#popup form a {
  text-align: end;
}

.x:hover{
  cursor: pointer;
  color: white;
  }

form input,
form select,
form button,
textarea {
  padding: 10px;
  border-radius: 5px;
  margin: auto 5px;
  margin-top: 5px;
  flex: 1;
  border: 1px solid transparent;
  transition: border-color linear 0.2s;
  resize: none;
}

textarea {
  height: 300px;
}
form input:focus,
form select:focus,
textarea:focus {
  border-color: black;
}
form label {
  font-weight: 500;
  color: #969cb2;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form button {
  background-color: #ff9eea;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  transition: background linear 0.2;
}
form button:hover {
  background-color: #73abff;
  cursor: pointer;
  transition: 0.8s;
}

#header {
  width: 100%;
  height: 210px;
  background-color: #ff9eea;
}

#header img {
  margin-top: 50px;
}

table {
  text-align: left;
  padding: 10px;
  border-spacing: 0;
  border-collapse: collapse;
}
thead {
  border-top: 16px solid transparent;
  border-top: 8px solid transparent;
}

thead th {
  color: #969cb2;
  font-weight: 300;
  padding-left: 10px;
}

tbody tr {
  border-bottom: 8px solid transparent;
  background-color: #fff;
  background-clip: padding-box;
}

tbody tr td {
  padding: 10px;
  color: #363f5f;
}

tbody td svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/* botão de pedido */

.add {
  position: absolute;
}

#addbottom {
  background-color: #624f72;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 50px;
  transition: filter 2s;
  display: block;
  box-shadow: 0 5px 15px 0 rgba(0 0 0 / 30);
}

#addbottom a {
  color: #fff;
  border-radius: 50%;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#addbottom:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

/* numeragem da página */
.numeragem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.numero {
  background-color: #d84c72;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
.numero1{
  background-color: #d84c72;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.numero:hover{
  cursor: pointer;
  color: rgb(88, 44, 77);
}

.numero1:hover{
  cursor: pointer;
  color: rgb(88, 44, 77);
}