* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  
  body {
    background-color: #f0f2f5;
    position: relative;
    height: 100vh;
  }
  
  #menu {
    background-color: rgb(142, 140, 192);
    border: 1pt solid black;
  }
  .conteúdo {
    justify-content: space-between;
    display: flex;
    align-content: center;
    width: 100%;
    height: 120px;
  }
  
  .logo img {
    align-items: center;
    margin: 16px 21px;
  }
  
  .conteúdo nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
  }
  
  .conteúdo nav a {
    padding: 20px;
    font-size: 16pt;
    text-decoration: none;
    color: #f0f2f5;
  }
  
  
  .redes {
    align-content: space-between;
    display: flex;
    align-items: center;
    padding: 25px;
  }
  .conteúdo div a {
    text-decoration: none;
    color: #f0f2f5;
    padding: 20px;
  }
  
  .redes i {
    color: #f0f2f5;
  }


  /* Corpo da página */
  #page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px; 
    
    background-color: rgb(248, 199, 204);
  }
  #imagem  img{
    padding-left: 70px;
  }

  #texto{
    margin-top: 40px;
  }
.botao button{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-top: 120px;
  padding: 20px 20px;
  background-color: rgb(144, 224, 243); ;
  color: black ;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;

}
.botao :hover{
  transition: 2s;
  background-color: red;
}
.botaoup {
  color: rgb(255, 255, 255);
  height: 70px;
  width: 70px;
  display: inline-block;
}

.button2 {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-top: -120px;
  padding: 20px 20px;
}

/* segunda parte */

.fundadores{
  width: auto;
  height: 620px;
  background-color: rgb(142, 140, 192);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.retrato1{
  background-color: rgb(144, 224, 243);
  height: 580px;
  width: 312px;
  padding-right: 20px;
}

.retrato2{
  background-color: rgb(144, 224, 243);
  height: 580px;
  width: 312px;
  padding-right: 20px;
}

.retrato3{
  background-color: rgb(144, 224, 243);
  height: 580px;
  width: 312px;
  padding-right: 20px;
}

.retrato4{
  background-color: rgb(144, 224, 243);
  height: 580px;
  width: 312px;
}

.texto1{
  width: 282px;
  height: 550px;
}

/* footer */

footer {
  position: absolute;
  background-color: Rgb(173, 222, 248);
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 100%;
}

.info {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Gmail {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.Gmail a {
  text-decoration: none;
  color: black;
}

.Gmail a:hover {
  color: blue;
  transition: 0.4s;
}
.icon-whatsapp {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.icon-whatsapp a {
  text-decoration: none;
  color: black;
}
.icon-whatsapp a:hover {
  color: blue;
  transition: 0.4s;
}
.adress {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.adress a {
  text-decoration: none;
  color: black;
}

.adress a:hover {
  color: blue;
  transition: 0.4s;
}
