@font-face {
  font-family: "sweet";
  src: url("fonte/sweet\ purple.otf") format("opentype"),
    url("fonte/sweet\ purple.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "warung";
  src: url("fonte/Warung\ Kopi.otf") format("opentype");
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

body {
  background-color: rgb(144, 224, 243);
  position: relative;
  height: 100vh;
  min-height: 100%;
}
html {
  min-height: 100%;
}
.all {
  min-height: 100%;
  position: relative;
  width: 800px;
}

/* menu */
.conteúdo {
  justify-content: space-between;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(142, 140, 192);
}

.conteúdo img {
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.conteúdo nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: 95px;
  margin-right: auto;
}

.conteúdo nav a {
  padding: 20px;
  text-decoration: none;
  color: #f0f2f5;
  font-family: "sweet";
  font-size: 35px;
}

.redes {
  align-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px;
}
.conteúdo div a {
  text-decoration: none;
  color: #f0f2f5;
  padding: 20px;
}

.conteúdo nav a:hover {
  background-color: rgb(110, 108, 165);
  padding: 29px 20px;
}
.redes i {
  color: #f0f2f5;
}

.redes a:hover {
  background-color: rgb(110, 108, 165);
  padding: 36px 20px;
}

.logo:hover {
  background-color: rgb(110, 108, 165);
  padding: 0px 0px;
  cursor: pointer;
}
.center {
  background-color: rgb(248, 199, 204);
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: -50px; */
}

.sho {
  margin-right: 35px;
  color: rgb(88, 44, 77);
}
.sho:hover {
  cursor: pointer;
  color: #ffffff;
}

#divBusca {
  background-color: #ffffff;
  border: solid 1px;
  border-color: rgb(142, 140, 192);
  border-radius: 10px;

  margin-left: 412px;
  margin-right: auto;
  width: 600px;
  /* width: ; */
  /* margin-left: 120px;
  margin-bottom: 50px; */
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: normal;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 560px;
}
#btnBusca {
  color: rgb(142, 140, 192);
  margin-top: 4px;
  margin-right: 4px;
}

/* Página */

.apresentaçao1 {
  width: 100%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(178, 179, 238);
}
.apresentaçao1 img {
  /* width: 98%;
height: 101%;; */
}
.texto1 {
  margin-left: 25px;
}

.texto1 h1 {
  color: #383f51;
  font-family: "sweet";
  font-size: 50px;
  font-weight: 500;
  text-align: justify;
  text-align-last: center;
  padding-right: 30px;
}

.textoembaixo1 {
  margin-top: 20px;
  color: rgb(59, 59, 59);
  font-size: 25px;
  text-align: justify;
  text-align-last: center;
  padding-right: 20px;
}
.textoembaixo1 span {
  font-family: "warung";
}

.apresentaçao2 {
  width: 100%;
  height: 500px;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(248, 199, 204);
}

.texto2 {
  margin-left: 25px;
}

.texto2 h1 {
  color: #383f51;
  font-family: "sweet";
  font-size: 50px;
  font-weight: 500;
  text-align: justify;
  text-align-last: center;
}

.textoembaixo2 {
  margin-top: 20px;
  color: rgb(59, 59, 59);
  font-size: 25px;
  text-align: justify;
  text-align-last: center;
}
.textoembaixo2 span {
  font-family: "warung";
}
.apresentaçao3 {
  width: 100%;
  height: 500px;
  padding: 20px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(136, 214, 233);
}

.texto3 {
  padding-bottom: 0px;
  margin-left: 250px;
}
.texto3 h1 {
  text-align: justify;
  text-align-last: center;
  color: #383f51;
  font-family: "sweet";
  font-size: 50px;
  font-weight: 500;
}
.textoembaixo3 {
  margin-top: 20px;
  color: black;
  font-size: 25px;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 40px;
}
.textoembaixo3 span {
  font-family: "warung";
}
.texto3 button {
  background-color: rgb(142, 140, 192);
  color: #ffff;
  padding: 20px;
  font-family: cursive;
  font-size: 20px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  transition: background 0.5s;
}

.texto3 button:hover {
  background-color: rgb(247, 131, 131);
  cursor: pointer;
}

.texto3 a {
  color: #ffffff;
  text-decoration: none;
  font-family: cursive;
}

.botao {
  color: rgb(88, 44, 77);
  height: 70px;
  width: 70px;
  display: inline-block;
}
.button2 {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-top: -120px;
  padding: 20px 20px;
}
/* 
footer */

footer {
  position: absolute;
  background-color: rgb(142, 140, 192);
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 100%;
}

.info {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Gmail {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.Gmail a {
  text-decoration: none;
  color: black;
}

.Gmail a:hover {
  color: blue;
  transition: 0.4s;
}
.icon-whatsapp {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.icon-whatsapp a {
  text-decoration: none;
  color: black;
}
.icon-whatsapp a:hover {
  color: blue;
  transition: 0.4s;
}
.adress {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.adress a {
  text-decoration: none;
  color: black;
}

.adress a:hover {
  color: blue;
  transition: 0.4s;
}
